<!DOCTYPE html>
<html lang="en">
{% extends 'crm/base.html' %}
{% block content %}
    <H2> Thanks for your interest!  Fill out below information and the photographer will contact you soon.</H2>
    <div class="col-sm-3">
            <p>{{ photo_full_name }}</p>
            <p>{{ email_photographer.company }}</p>
            <p>{{ email_photographer.email }}</p>
            <p>{{ email_photographer.phone_number}}</p>
    </div>
<h1>Add Customer</h1>
<form method="POST" class="customer-form">{% csrf_token %}
   {{ form.as_p }}
   <button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock %}

</html>